# Compiled JavaScript files
lib/
**/*.js
**/*.js.map

# TypeScript cache
*.tsbuildinfo

# Node modules
node_modules/

# Environment files
.env
.env.local
.runtimeconfig.json

# Firebase
.firebase/

# Logs
npm-debug.log*
firebase-debug.log*
